In [88]:
import os
import pandas as pd

In [89]:
input_dir = './data/fromAPI/hourly'

data = []
labels = []
files = os.listdir(input_dir)
csvs = []

for file in files:
    if "txt" in file:
        continue
    else:
        csvs.append(file)

csvs.sort()

In [90]:
df = pd.DataFrame()

for file in csvs:
    df2 = pd.read_csv(f"{input_dir}/{file}")
    df2["hour"] = ((int(file[4:6])-23)*24)+int(file[7:9])-13 #counts the hours since data gathering start(13:00 on 23rd)
    df = pd.concat([df,df2])

df.drop('Unnamed: 0', axis=1, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.shape

(395056, 18)

In [91]:
def delay_cat(delay):
    if delay >= 30:
        return 'long_delay'
    elif delay >= 6: #definition provided by deutsche bahn
        return 'delay'
    else:
        return 'on_time'

df['arrival_delay_check'] = df['arrival_delay_m'].apply(delay_cat)
df['departure_delay_check'] = df['depature_delay_m'].apply(delay_cat)

In [92]:
df.head()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check,departure_delay_check
0,-5400859585976401385-2406231231-15,NaN,Heinsberg(Rheinl)|Heinsberg Kreishaus|Heinsber...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:31:00,NaN,2024-06-23 13:30:00,NaN,-1,0,0,on_time,on_time
1,4083473720689476753-2406231250-4,20,Stolberg(Rheinl)Hbf|Eilendorf|Aachen-Rothe Erde,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:01:00,2024-06-23 13:02:00,2024-06-23 13:03:00,2024-06-23 13:04:00,2,2,0,on_time,on_time
2,-8892239479013746475-2406231212-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:00:00,2024-06-23 13:01:00,2024-06-23 13:05:00,2024-06-23 13:06:00,5,5,0,on_time,on_time
3,3772983581833112391-2406231337-1,33,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,0,on_time,on_time
4,-7760689325071259199-2406231337-1,29,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,0,on_time,on_time

In [93]:
df.tail()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check,departure_delay_check
395051,-2524967729471299033-2406241333-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-24 15:15:00,NaN,2024-06-24 15:19:00,NaN,4,0,26,on_time,on_time
395052,5484088617416038144-2406241353-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-24 15:35:00,NaN,2024-06-24 15:47:00,NaN,12,0,26,delay,on_time
395053,-8839203743118200520-2406241504-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-24 15:04:00,NaN,2024-06-24 15:04:00,0,0,26,on_time,on_time
395054,-852858026441192630-2406241524-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-24 15:24:00,NaN,2024-06-24 15:24:00,0,0,26,on_time,on_time
395055,7773222948651306726-2406241544-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-24 15:44:00,NaN,NaN,0,0,26,on_time,on_time

In [94]:
df[df["arrival_delay_m"] < 0].shape

(14380, 20)

In [95]:
df[df["depature_delay_m"] < 0].shape

(479, 20)

In [96]:
df[df["arrival_delay_m"] < 0] = 0
df[df["depature_delay_m"] < 0] = 0

In [97]:
df.drop(labels=df[df["arrival_delay_check"] == 0].index, axis=0, inplace=True)

In [98]:
df.groupby("arrival_delay_check").count()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,departure_delay_check
arrival_delay_check,,,,,,,,,,,,,,,,,,,
delay,19652,14511,19652,19652,19652,19652,19652,19652,19652,19652,19652,19652,17314,19652,17307,19652,19652,19652,19652
long_delay,1545,476,1545,1545,1545,1545,1545,1545,1545,1545,1545,1545,1340,1545,1341,1545,1545,1545,1545
on_time,359231,320073,323034,359231,359231,359231,359231,359231,359231,359231,359231,323034,327969,276386,272895,359231,359231,359231,359231

In [99]:
df.groupby("departure_delay_check").count()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check
departure_delay_check,,,,,,,,,,,,,,,,,,,
delay,17372,14601,16854,17372,17372,17372,17372,17372,17372,17372,17372,16854,17372,16844,17372,17372,17372,17372,17372
long_delay,1330,492,1289,1330,1330,1330,1330,1330,1330,1330,1330,1289,1330,1289,1330,1330,1330,1330,1330
on_time,361726,319967,326088,361726,361726,361726,361726,361726,361726,361726,361726,326088,327921,279450,272841,361726,361726,361726,361726

In [100]:
df.isnull().sum()

ID                           0
train                    45368
path                     36197
eva_nr                       0
category                     0
name                         0
state                        0
city                         0
zip                          0
long                         0
lat                          0
arrival_plan             36197
departure_plan           33805
arrival_change           82845
departure_change         88885
arrival_delay_m              0
depature_delay_m             0
hour                         0
arrival_delay_check          0
departure_delay_check        0
dtype: int64

In [101]:
df.duplicated().sum()

0

In [102]:
df.to_csv("data/fromAPI/cleaned_hourly_all.csv", index=False)