In [1]:
import os
import pandas as pd

In [2]:
input_dir = './data/fromAPI/hourly'

data = []
labels = []
files = os.listdir(input_dir)
csvs = []

for file in files:
    if "txt" in file:
        continue
    else:
        csvs.append(file)

csvs.sort()

In [3]:
df = pd.DataFrame()

for file in csvs:
    df2 = pd.read_csv(f"{input_dir}/{file}")
    df = pd.concat([df,df2])

df.drop('Unnamed: 0', axis=1, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.shape

(1417710, 17)

In [4]:
def delay_cat(delay):
    if delay >= 6:
        return 'delay'
    else:
        return 'on_time'

df['arrival_delay_check'] = df['arrival_delay_m'].apply(delay_cat)
df['departure_delay_check'] = df['depature_delay_m'].apply(delay_cat)

In [5]:
df.head()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,arrival_delay_check,departure_delay_check
0,-5400859585976401385-2406231231-15,NaN,Heinsberg(Rheinl)|Heinsberg Kreishaus|Heinsber...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:31:00,NaN,2024-06-23 13:30:00,NaN,-1,0,on_time,on_time
1,4083473720689476753-2406231250-4,20,Stolberg(Rheinl)Hbf|Eilendorf|Aachen-Rothe Erde,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:01:00,2024-06-23 13:02:00,2024-06-23 13:03:00,2024-06-23 13:04:00,2,2,on_time,on_time
2,-8892239479013746475-2406231212-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:00:00,2024-06-23 13:01:00,2024-06-23 13:05:00,2024-06-23 13:06:00,5,5,on_time,on_time
3,3772983581833112391-2406231337-1,33,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,on_time,on_time
4,-7760689325071259199-2406231337-1,29,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,on_time,on_time

In [6]:
df.tail()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,arrival_delay_check,departure_delay_check
1417705,-2524967729471299033-2406271333-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-27 15:15:00,NaN,2024-06-27 15:16:00,NaN,1,0,on_time,on_time
1417706,7773222948651306726-2406271544-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-27 15:44:00,NaN,NaN,0,0,on_time,on_time
1417707,5484088617416038144-2406271353-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-27 15:35:00,NaN,2024-06-27 15:36:00,NaN,1,0,on_time,on_time
1417708,-852858026441192630-2406271524-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-27 15:24:00,NaN,2024-06-27 15:24:00,0,0,on_time,on_time
1417709,-8839203743118200520-2406271504-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-27 15:04:00,NaN,2024-06-27 15:12:00,0,8,on_time,delay

In [7]:
df[df["arrival_delay_m"] < 0].shape

(46328, 19)

In [8]:
df[df["depature_delay_m"] < 0].shape

(1417, 19)

In [9]:
df[df["arrival_delay_m"] < 0] = 0
df[df["depature_delay_m"] < 0] = 0

In [10]:
df.drop(labels=df[df["arrival_delay_check"] == 0].index, axis=0, inplace=True)

In [11]:
df.isnull().sum()

ID                            0
train                    160413
path                     128986
eva_nr                        0
category                      0
name                          0
state                         0
city                          0
zip                           0
long                          0
lat                           0
arrival_plan             128986
departure_plan           121841
arrival_change           302724
departure_change         325289
arrival_delay_m               0
depature_delay_m              0
arrival_delay_check           0
departure_delay_check         0
dtype: int64

In [12]:
df.duplicated().sum()

4029

In [44]:
df[df["arrival_delay_m"] > df["arrival_delay_m"].quantile(0.9999)].train.unique() ## rauswerfen???

array([nan, '26', 'RB15', 'RE98', '1'], dtype=object)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1370589 entries, 1 to 1417709
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1370589 non-null  object
 1   train                  1210176 non-null  object
 2   path                   1241603 non-null  object
 3   eva_nr                 1370589 non-null  int64
 4   category               1370589 non-null  int64
 5   name                   1370589 non-null  object
 6   state                  1370589 non-null  object
 7   city                   1370589 non-null  object
 8   zip                    1370589 non-null  int64
 9   long                   1370589 non-null  float64
 10  lat                    1370589 non-null  float64
 11  arrival_plan           1241603 non-null  object
 12  departure_plan         1248748 non-null  object
 13  arrival_change         1067865 non-null  object
 14  departure_change       1045300 non-null  object
 15  arrival_delay_m        1370589 non-null  int64
 16  depature_delay_m       1370589 non-null  int64
 17  arrival_delay_check    1370589 non-null  object
 18  departure_delay_check  1370589 non-null  object
dtypes: float64(2), int64(5), object(12)
memory usage: 209.1+ MB

In [60]:
df.isna().sum()

ID                            0
train                    160413
path                     128986
eva_nr                        0
category                      0
name                          0
state                         0
city                          0
zip                           0
long                          0
lat                           0
arrival_plan             128986
departure_plan           121841
arrival_change           302724
departure_change         325289
arrival_delay_m               0
depature_delay_m              0
arrival_delay_check           0
departure_delay_check         0
dtype: int64

In [55]:
df["train"].isna().sum() ## rauswerfen?

160413

In [13]:
# df.to_csv("data/fromAPI/cleaned_hourly_all.csv", index=False)