In [1]:
import os
import pandas as pd

In [2]:
input_dir = './data/fromAPI/hourly3' #change to what dataset you want to clean and combine

data = []
labels = []
files = os.listdir(input_dir)
csvs = []

for file in files:
    if "txt" in file:
        continue
    else:
        csvs.append(file)

csvs.sort()

In [3]:
df = pd.DataFrame()

for file in csvs:
    df2 = pd.read_csv(f"{input_dir}/{file}")
    df = pd.concat([df,df2])

df.drop('Unnamed: 0', axis=1, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.shape

(2412503, 19)

In [4]:
def delay_cat(delay):
    if delay >= 6:
        return 'delay'
    else:
        return 'on_time'

df['arrival_delay_check'] = df['arrival_delay_m'].apply(delay_cat)
df['departure_delay_check'] = df['depature_delay_m'].apply(delay_cat)

In [5]:
df.head()

,ID,train,path,eva_nr,category,name,state,city,zip,long,...,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,info,attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues,arrival_delay_check,departure_delay_check
0,1573967790757085557-2407072312-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:00:00,2024-07-08 00:01:00,2024-07-08 00:03:00,2024-07-08 00:04:00,3.0,3.0,NaN,NaN,on_time,on_time
1,349781417030375472-2407080017-1,18,NaN,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,NaN,2024-07-08 00:17:00,NaN,NaN,0.0,0.0,NaN,NaN,on_time,on_time
2,1983158592123451570-2407080010-5,NaN,Herzogenrath|Kohlscheid|Aachen West|Aachen Schanz,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:27:00,NaN,2024-07-08 00:26:00,NaN,-1.0,0.0,NaN,NaN,on_time,on_time
3,-1701587498056121817-2407072210-23,NaN,Siegen Hbf|Brachbach|Kirchen|Betzdorf(Sieg)|Wi...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:41:00,NaN,2024-07-08 00:40:00,NaN,-1.0,0.0,Information. (Quelle: zuginfo.nrw),NaN,on_time,on_time
4,7157250219775883918-2407072120-26,NaN,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:07:00,NaN,2024-07-08 00:07:00,NaN,0.0,0.0,NaN,NaN,on_time,on_time

In [6]:
df.tail()

,ID,train,path,eva_nr,category,name,state,city,zip,long,...,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,info,attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues,arrival_delay_check,departure_delay_check
2412498,-8774053210575864323-2407142305-3,80,Bad Oldesloe|Reinfeld(Holst),8003775.0,5.0,Lübeck-Moisling,Schleswig-Holstein,Lübeck,23560.0,10.629500,...,2024-07-14 23:17:00,2024-07-14 23:18:00,2024-07-14 23:17:00,2024-07-14 23:18:00,0.0,0.0,Information,NaN,on_time,on_time
2412499,-1537118689903044118-2407142354-1,11,NaN,8001580.0,4.0,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474.0,6.766979,...,NaN,2024-07-14 23:54:00,NaN,NaN,0.0,0.0,Information. (Quelle: zuginfo.nrw),NaN,on_time,on_time
2412500,2862161729195150146-2407142324-1,11,NaN,8001580.0,4.0,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474.0,6.766979,...,NaN,2024-07-14 23:24:00,NaN,2024-07-14 23:24:00,0.0,0.0,Information. (Quelle: zuginfo.nrw),NaN,on_time,on_time
2412501,-4170144647087673867-2407142153-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580.0,4.0,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474.0,6.766979,...,2024-07-14 23:35:00,NaN,2024-07-14 23:36:00,NaN,1.0,0.0,Information. (Quelle: zuginfo.nrw),NaN,on_time,on_time
2412502,1729325503083558011-2407142123-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580.0,4.0,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474.0,6.766979,...,2024-07-14 23:05:00,NaN,2024-07-14 23:05:00,NaN,0.0,0.0,Information. (Quelle: zuginfo.nrw),NaN,on_time,on_time

In [7]:
df[df["arrival_delay_m"] < 0].shape

(77508, 21)

In [8]:
df[df["depature_delay_m"] < 0].shape

(2425, 21)

In [9]:
df[df["arrival_delay_m"] < 0] = 0
df[df["depature_delay_m"] < 0] = 0

In [10]:
df.drop(labels=df[df["arrival_delay_check"] == 0].index, axis=0, inplace=True)

In [11]:
df.isnull().sum()

ID                                                                                               0
train                                                                                       272276
path                                                                                        218025
eva_nr                                                                                           0
category                                                                                         0
name                                                                                             0
state                                                                                            0
city                                                                                             0
zip                                                                                              0
long                                                                                             0
lat                                                                                              0
arrival_plan                                                                                218025
departure_plan                                                                              206156
arrival_change                                                                              516161
departure_change                                                                            553019
arrival_delay_m                                                                                  0
depature_delay_m                                                                                 0
info                                                                                       1606606
attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues    2333633
arrival_delay_check                                                                              0
departure_delay_check                                                                            0
dtype: int64

In [12]:
df.duplicated().sum()

7204

In [13]:
#df[df["arrival_delay_m"] > df["arrival_delay_m"].quantile(0.9999)].train.unique() ## rauswerfen???

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2333633 entries, 0 to 2412502
Data columns (total 21 columns):
 #   Column                                                                                   Dtype
---  ------                                                                                   -----
 0   ID                                                                                       object
 1   train                                                                                    object
 2   path                                                                                     object
 3   eva_nr                                                                                   float64
 4   category                                                                                 float64
 5   name                                                                                     object
 6   state                                                                                    object
 7   city                                                                                     object
 8   zip                                                                                      float64
 9   long                                                                                     float64
 10  lat                                                                                      float64
 11  arrival_plan                                                                             object
 12  departure_plan                                                                           object
 13  arrival_change                                                                           object
 14  departure_change                                                                         object
 15  arrival_delay_m                                                                          float64
 16  depature_delay_m                                                                         float64
 17  info                                                                                     object
 18  attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues  object
 19  arrival_delay_check                                                                      object
 20  departure_delay_check                                                                    object
dtypes: float64(7), object(14)
memory usage: 391.7+ MB

In [15]:
df[df["train"].isna() == True].head()

,ID,train,path,eva_nr,category,name,state,city,zip,long,...,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,info,attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues,arrival_delay_check,departure_delay_check
4,7157250219775883918-2407072120-26,NaN,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:07:00,NaN,2024-07-08 00:07:00,NaN,0.0,0.0,NaN,NaN,on_time,on_time
5,-5293934437045765939-2407080023-4,NaN,Herzogenrath|Aachen West|Aachen Schanz,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:36:00,NaN,2024-07-08 00:36:00,NaN,0.0,0.0,Bauarbeiten. (Quelle: zuginfo.nrw),NaN,on_time,on_time
6,-1089514198161073289-2407072350-4,NaN,Stolberg(Rheinl)Hbf|Eilendorf|Aachen-Rothe Erde,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:01:00,NaN,2024-07-08 00:09:00,NaN,8.0,0.0,NaN,NaN,delay,on_time
7,-2100556839975301087-2407072307-14,NaN,Liège-Guillemins|Bressoux|Vise|Eijsden|Maastri...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:45:00,NaN,2024-07-08 00:45:00,NaN,0.0,0.0,NaN,NaN,on_time,on_time
8,1573967790757085557-2407072312-15,NaN,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000406.0,4.0,Aachen-Rothe Erde,Nordrhein-Westfalen,Aachen,52066.0,6.116475,...,2024-07-08 00:04:00,NaN,2024-07-08 00:06:00,NaN,2.0,0.0,NaN,NaN,on_time,on_time

In [16]:
df.isna().sum()

ID                                                                                               0
train                                                                                       272276
path                                                                                        218025
eva_nr                                                                                           0
category                                                                                         0
name                                                                                             0
state                                                                                            0
city                                                                                             0
zip                                                                                              0
long                                                                                             0
lat                                                                                              0
arrival_plan                                                                                218025
departure_plan                                                                              206156
arrival_change                                                                              516161
departure_change                                                                            553019
arrival_delay_m                                                                                  0
depature_delay_m                                                                                 0
info                                                                                       1606606
attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues    2333633
arrival_delay_check                                                                              0
departure_delay_check                                                                            0
dtype: int64

In [17]:
df.drop(labels=df[df["train"].isna() == True].index, axis=0, inplace=True) #deleting all events that are not part of a line

In [18]:
df["train"].isna().sum()

0

In [19]:
df.rename(columns={'depature_delay_m': 'departure_delay_m'}, inplace=True) #changing spelling mistake
df.rename(columns={'train': 'line'}, inplace=True) #changing spelling mistake
df.rename(columns={'name': 'station'}, inplace=True) #changing spelling mistake
#issues should be takled in the data collector script already in the future

In [20]:
df.head()

,ID,line,path,eva_nr,category,station,state,city,zip,long,...,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,attention: datapoints 240711_04 - 240711_06 are simulated because of measurement issues,arrival_delay_check,departure_delay_check
0,1573967790757085557-2407072312-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,2024-07-08 00:00:00,2024-07-08 00:01:00,2024-07-08 00:03:00,2024-07-08 00:04:00,3.0,3.0,NaN,NaN,on_time,on_time
1,349781417030375472-2407080017-1,18,NaN,8000001.0,2.0,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064.0,6.091499,...,NaN,2024-07-08 00:17:00,NaN,NaN,0.0,0.0,NaN,NaN,on_time,on_time
10,7157250219775883918-2407072120-25,1,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000406.0,4.0,Aachen-Rothe Erde,Nordrhein-Westfalen,Aachen,52066.0,6.116475,...,2024-07-08 00:03:00,2024-07-08 00:04:00,2024-07-08 00:03:00,2024-07-08 00:04:00,0.0,0.0,NaN,NaN,on_time,on_time
11,349781417030375472-2407080017-2,18,Aachen Hbf,8000404.0,5.0,Aachen West,Nordrhein-Westfalen,Aachen,52072.0,6.070715,...,2024-07-08 00:20:00,2024-07-08 00:21:00,NaN,NaN,0.0,0.0,NaN,NaN,on_time,on_time
12,1983158592123451570-2407080010-3,33,Herzogenrath|Kohlscheid,8000404.0,5.0,Aachen West,Nordrhein-Westfalen,Aachen,52072.0,6.070715,...,2024-07-08 00:20:00,2024-07-08 00:21:00,2024-07-08 00:20:00,2024-07-08 00:21:00,0.0,0.0,NaN,NaN,on_time,on_time

In [21]:
df.to_csv("data/fromAPI/cleaned_hourly_all3.csv", index=False)#change to whatever you want to call the combined dataset
#add the resulting data to gitignore to avoid issues because of overzised files