In [1]:
import os
import pandas as pd

In [2]:
input_dir = './data/fromAPI/hourly'

data = []
labels = []
files = os.listdir(input_dir)
csvs = []

for file in files:
    if "txt" in file:
        continue
    else:
        csvs.append(file)

csvs.sort()

In [3]:
df = pd.DataFrame()

for file in csvs:
    df2 = pd.read_csv(f"{input_dir}/{file}")
    df2["hour"] = ((int(file[4:6])-23)*24)+int(file[7:9])-13 #counts the hours since data gathering start(13:00 on 23rd)
    df = pd.concat([df,df2])

df.drop('Unnamed: 0', axis=1, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.shape

(997716, 18)

In [4]:
def delay_cat(delay):
    if delay >= 30:
        return 'long_delay'
    elif delay >= 6: #definition provided by deutsche bahn
        return 'delay'
    else:
        return 'on_time'

df['arrival_delay_check'] = df['arrival_delay_m'].apply(delay_cat)
df['departure_delay_check'] = df['depature_delay_m'].apply(delay_cat)

In [5]:
df.head()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check,departure_delay_check
0,-5400859585976401385-2406231231-15,NaN,Heinsberg(Rheinl)|Heinsberg Kreishaus|Heinsber...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:31:00,NaN,2024-06-23 13:30:00,NaN,-1,0,0,on_time,on_time
1,4083473720689476753-2406231250-4,20,Stolberg(Rheinl)Hbf|Eilendorf|Aachen-Rothe Erde,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:01:00,2024-06-23 13:02:00,2024-06-23 13:03:00,2024-06-23 13:04:00,2,2,0,on_time,on_time
2,-8892239479013746475-2406231212-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,2024-06-23 13:00:00,2024-06-23 13:01:00,2024-06-23 13:05:00,2024-06-23 13:06:00,5,5,0,on_time,on_time
3,3772983581833112391-2406231337-1,33,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,0,on_time,on_time
4,-7760689325071259199-2406231337-1,29,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.7678,NaN,2024-06-23 13:37:00,NaN,NaN,0,0,0,on_time,on_time

In [6]:
df.tail()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check,departure_delay_check
997711,-88857037953542278-2406261244-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-26 12:44:00,NaN,NaN,0,0,71,on_time,on_time
997712,-826650612454310565-2406261204-1,11,NaN,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,NaN,2024-06-26 12:04:00,NaN,2024-06-26 12:05:00,0,1,71,on_time,on_time
997713,1588529821829971577-2406261053-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-26 12:35:00,NaN,2024-06-26 12:36:00,NaN,1,0,71,on_time,on_time
997714,1103795492502076139-2406261113-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-26 12:55:00,NaN,2024-06-26 12:55:00,NaN,0,0,71,on_time,on_time
997715,4733041675327343311-2406261033-36,NaN,Bergisch Gladbach|Duckterath|Köln-Dellbrück|Kö...,8001580,4,Düsseldorf Flughafen Terminal,Nordrhein-Westfalen,Düsseldorf,40474,6.766979,51.278517,2024-06-26 12:15:00,NaN,2024-06-26 12:16:00,NaN,1,0,71,on_time,on_time

In [7]:
df[df["arrival_delay_m"] < 0].shape

(33894, 20)

In [8]:
df[df["depature_delay_m"] < 0].shape

(1059, 20)

In [9]:
df[df["arrival_delay_m"] < 0] = 0
df[df["depature_delay_m"] < 0] = 0

In [10]:
df.drop(labels=df[df["arrival_delay_check"] == 0].index, axis=0, inplace=True)

In [11]:
df.groupby("arrival_delay_check").count()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,departure_delay_check
arrival_delay_check,,,,,,,,,,,,,,,,,,,
delay,59552,45626,59552,59552,59552,59552,59552,59552,59552,59552,59552,59552,52556,59552,52512,59552,59552,59552,59552
long_delay,5533,2313,5533,5533,5533,5533,5533,5533,5533,5533,5533,5533,4794,5533,4793,5533,5533,5533,5533
on_time,898158,802340,807320,898158,898158,898158,898158,898158,898158,898158,898158,807320,820218,688957,680860,898158,898158,898158,898158

In [12]:
df.groupby("departure_delay_check").count()

,ID,train,path,eva_nr,category,name,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,depature_delay_m,hour,arrival_delay_check
departure_delay_check,,,,,,,,,,,,,,,,,,,
delay,52747,45932,51087,52747,52747,52747,52747,52747,52747,52747,52747,51087,52747,51059,52747,52747,52747,52747,52747
long_delay,4778,2373,4653,4778,4778,4778,4778,4778,4778,4778,4778,4653,4778,4652,4778,4778,4778,4778,4778
on_time,905718,801974,816665,905718,905718,905718,905718,905718,905718,905718,905718,816665,820043,698331,680640,905718,905718,905718,905718

In [13]:
df.isnull().sum()

ID                            0
train                    112964
path                      90838
eva_nr                        0
category                      0
name                          0
state                         0
city                          0
zip                           0
long                          0
lat                           0
arrival_plan              90838
departure_plan            85675
arrival_change           209201
departure_change         225078
arrival_delay_m               0
depature_delay_m              0
hour                          0
arrival_delay_check           0
departure_delay_check         0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df.to_csv("data/fromAPI/cleaned_hourly_all.csv", index=False)

In [16]:
df.shape

(963243, 20)